.date-task {
    height: 20%;
    cursor: pointer;
}

.date-stat {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    border-bottom: solid 1px #237df3;
    color: #237df3;
}

.date-stat span:first-child {
    width: 60%;
}

.date-task:hover,
.active {
    background: #e2dada;
}